<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- Interface Mapper 이름 -->
<mapper namespace="cafe.jjdev.mall.ajaxcrud.member.mapper.MemberMapper">
	<select id="selectMemberCount" resultType="int">
		SELECT	COUNT(*)
		FROM	member
	</select>
	<select id="selectMemberList" resultType="java.util.Map" parameterType="int">
		SELECT
			id
			,pw
			,name
			,age
			,gender 
		FROM
			member
		LIMIT 
			#{firstRow},#{rowPerPage}	
	</select>
	<insert id="insertMember" parameterType="cafe.jjdev.mall.ajaxcrud.member.vo.Member">
		INSERT 
		INTO 
			member(
			id
			,pw
			,name
			,age
			,gender
		)VALUES(
			#{id}
			,#{pw}
			,#{name}
			,#{age}
			,#{gender}
		)	
	</insert>
	<delete id="deleteMember" parameterType="cafe.jjdev.mall.ajaxcrud.member.vo.Member">
		DELETE 
		FROM 
			member 
		WHERE 
			id=#{id}
	</delete>
	<update id="updateMember" parameterType="cafe.jjdev.mall.ajaxcrud.member.vo.Member">
		UPDATE 
			member 
		SET 
			pw=#{pw}
			,name=#{name}
			,age=#{age}
			,gender=#{gender}
		WHERE 
			id=#{id}
	</update>
	
</mapper>